*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.dark {
  background-color: #1e1e1e;
  color: #fff;
}
.light {
  background-color: #f5f5f5;
  color: #333;
}

/* NavBar Start */
.nav-butt{
  border: none;
  outline: none;
  border-radius: 5px;
  padding-right: 5px;
  padding-left: 5px;

  background-color: purple;
  color: white;
}

.navbutts{
  right: 100%;
}

.lightToggle {
  scale: 1.5;
  cursor: pointer;
}


.footer {
  bottom: 0%;
  background-color: rgb(23, 23, 23);
  color: white;
}

.cat-swiper {
 padding-left: 350px;
 padding-right: 350px;
 padding-top: 50px;
 padding-bottom: 50px;
}


.cat-p {
  top: 0%;
}





@media only screen and (max-width:967px) and (min-width:0){
  .cat-swiper {
    padding: 70px;
  }
}