*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.dark {
  background-image: radial-gradient(
    at 27% 37%,
    hsla(215, 98%, 61%, 1) 0px,
    transparent 0%
  ),
  radial-gradient(at 97% 21%, rgb(0, 0, 0) 0px, transparent 100%),
  radial-gradient(at 52% 99%, rgb(52, 0, 5) 0px, transparent 100%),
  radial-gradient(at 33% 50%, rgb(0, 25, 82) 0px, transparent 100%),
  radial-gradient(at 79% 53%, rgb(67, 0, 19) 0px, transparent 100%),
  radial-gradient(at 10% 29%, rgb(0, 0, 0) 0px, transparent 100%),

  radial-gradient(at 97% 96%, rgb(0, 0, 0) 0px, transparent 100%);
 
  
  color: #fff;
}


.light {
  background-image: radial-gradient(
    at 27% 37%,
    hsla(215, 98%, 61%, 1) 0px,
    transparent 0%
  ),
  radial-gradient(at 97% 21%, rgb(255, 255, 255) 0px, transparent 100%),
  radial-gradient(at 52% 99%, rgb(52, 0, 5) 0px, transparent 100%),
  radial-gradient(at 97% 96%, rgb(255, 255, 255) 0px, transparent 100%),
  radial-gradient(at 33% 50%, rgb(0, 25, 82) 0px, transparent 100%),
  
  
 radial-gradient(at 10% 29%, rgb(67, 0, 19) 0px, transparent 100%),
  radial-gradient(at 79% 53%, rgb(254, 254, 254) 0px, transparent 100%);
  color: #333;
}

/* NavBar Start */
.nav-butt{
  border: none;
  outline: none;
  border-radius: 5px;
  padding-right: 5px;
  padding-left: 5px;

  background-color: purple;
  color: white;
}

.navbutts{
  right: 100%;
}

.lightToggle {
  scale: 1.5;
  cursor: pointer;
}


.footer {
  bottom: 0%;
  background-color: rgb(23, 23, 23);
  color: white;
}

.cat-swiper {
 padding-left: 350px;
 padding-right: 350px;
 padding-top: 50px;
 padding-bottom: 50px;
}


.cat-p {
  top: 0%;
}





@media only screen and (max-width:967px) and (min-width:0){
  .cat-swiper {
    padding: 70px;
  }
  
  .sale-imgg {
    height: 300px;
  }
}